<footer class="container-fluid">
<div class="row">
    <div class="col-sm-12" style="background-color:#323232; color:white;text-align:center">
        <br />
        <a href="{{baseurl}}/index.html" style="color: white">
        	<h1 style="font-size:25px;margin-bottom:0px;">Home</h1>
        </a>
        <br />
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</footer>