			<div class="row" style="background-color:#323232; color:white;text-align:center">
			    <div class="col-sm-6 navHeader" style="background-color:#323232;color:white;text-align:center;border-right:1px solid;border-top:1px solid;">
			        <a href="/resume.html" style="color: white"><h3>RESUME</h3></a>
			    </div>
			    <div class="col-sm-6" style="background-color:#323232; color:white;text-align:center;border-top: 1px solid">
			        <a href="/blog.html" style="color: white"><h3>BLOG</h3></a>
			    </div>
			</div>
		</div>
	</div>
</div>